/*
User: jesus
*/

.cancel-btn-container {
    text-align: center;
    margin-top: 40px;
    clear: both;
}

.cancel-btn {
    background: linear-gradient(135deg, #d60e1e, #d75050);
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 4px 15px rgba(181, 30, 30, 0.3);
}

.cancel-btn:hover {
    background: linear-gradient(135deg, #d75050, #d60e1e);
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(181, 30, 30, 0.3);
}