body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

.search-bar {
    display: flex;
    margin-bottom: 10px;
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 8px;
    font-size: 16px;
}

.search-bar button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.actions {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.actions button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn {
    background-color: #ffc107;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
}

.add-btn {
    background-color: #28a745;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 6px;
    text-align: left;
}

/* Barra de letras y el botón "TODAS" */
.footer {
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;  /* Centra los elementos */
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.footer > button {
    padding: 5px 10px;
    margin: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
}

/* Efecto hover para botones "TODAS" y letras */
.footer > button:hover {
    background-color: #007bff;
    color: white;
}

/* Clase para la letra seleccionada */
.footer .active-letter,
#allButton.active-letter {
    background-color: #007bff; /* Fondo cuando está seleccionado */
    color: white;
    font-weight: bold;
}

/* Letras A-Z */
.letters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.letters button {
    padding: 5px 10px;
    margin: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
}

/* Efecto hover para las letras */
.letters button:hover {
    background-color: #007bff;
    color: white;
}
